---
# Only the main Sass file needs front matter (the dashes are enough)
---

.card-bash {
  .control-bar {
    position: relative;
    bottom: 0px;
  }

  .dropdown-menu {
    background-color: black;
    color: white;
    .dropdown-item-text {
      color: gray
    }
    .dropdown-item:hover {
      color: black
    }
  }
}