---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Banner color palette
$green: #2498AF;

// HTTP Method

.http-post {
  color: black;
  background-color: #ffc107;
}

.http-get {
  color: white;
  background-color: #28a745;
}

.http-delete {
  color: white;
  background-color: #dc3545;
}

.http-put {
  color: white;
  background-color: #007bff;
}

.http-patch {
  color: white;
  background-color: #17a2b8;
}


// Inline code
code:not(.code-block) {
  color: grey;
}

//Code blocks
.card-code {
  border-radius: 0;
  // Hiding clean code
  // Cannot make it invisible because clipboard.js will not be able to copy its content
  .copy-hidden {
    position: absolute;
    left: -100000px;
    width: 10px; // If set to 0px nothing is copied 🤔
    height: 10px; // If set to 0px nothing is copied 🤔
  }

  .card-header {
    // To Match Prism Synthwave Theme
    background-color: transparent !important;
    background-image: linear-gradient(to bottom, #2a2139 75%, #34294f);
    .btn {
      box-shadow: none;
    }
    .row {
      min-height: 2.2rem;
    }
  }

  .navbar-brand {
    font-size: 0.9em;
  }

  //border-color: black;
  //overflow: hidden;
  margin-bottom: 1em;

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    margin-top: 0;
    margin-bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  pre[class*="language-"]::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5rem;
  }

  pre[class*="language-"]::-webkit-scrollbar-track {
    background-color: transparent;
  }

  pre[class*="language-"]::-webkit-scrollbar-thumb {
    background-color: $green;
  }

  pre[class*="language-"]::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  .code-collapsed {
    max-height: {{ site.codeblocksize }}em;
  }

  .navbar {
    padding: 0;
    padding-left: 10px;
  }

  .navbar-nav {
    display: block;
    flex-direction: row;
    i {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  .card-body {
    padding: 0;
  }

  .card-header {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    border-bottom: 1px solid #999999;
  }

}