---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Inline code
code:not(.code-block) {
  background-color: black;
  color: white;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 4px;
}

//Code blocks
.card-code {
  border-radius: 0;
  // Hiding clean code
  // Cannot make it invisible because clipboard.js will not be able to copy its content
  .copy-hidden {
    position: absolute;
    left: -100000px;
    width: 10px; // If set to 0px nothing is copied 🤔
    height: 10px; // If set to 0px nothing is copied 🤔
  }

  .navbar-brand {
    font-size: 0.9em;
  }

  //border-color: black;
  //overflow: hidden;
  margin-bottom: 1em;

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: black; // Overrding okaidi color background to black
    margin-top: 0;
    margin-bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .code-collapsed {
    max-height: {{ site.codeblocksize }}em;
  }

  .navbar {
    padding: 0;
    padding-left: 10px;
    background-color: black;
  }

  .card-body {
    padding: 0;
    background-color: black;
  }

  .card-header {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    border-bottom: 1px solid #999999;
  }

}