---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// book
$book-blue: #014E68;
$book-grey: #bcbdc0;
$book-orange: #e66c2a;
$glitter: #E8EFF6;
$alice-blue: #EFF7FF;
$white-snow: #F7F5F7;
$ghost-white: #F9F8F9;

$background: $ghost-white;
$link-hover: $book-orange;
$link: $book-blue;
$link-reverse: $link-hover;
$link-reverse-hover: white; 
$text: black;
$text-backgound: white;
$text-reverse: white;
$menu-hover-background: $book-orange;
$menu-hover-color: white;
$button-focus-shadow: 0 0 0 0.2rem rgba(230,108,42,0.25);

$navbar-backgound: $book-blue;
$navbar-font: white;
$navbar-border: $book-orange;
$sidebar-background: $navbar-backgound;
$sidebar-font: white;
$sidebar-background-active: $background;
$sidebar-font-active: $book-orange;
$sidebar-border-active: $book-orange;

$content-background: $text-backgound;
$content-font: $text;
$content-titlebar-background: $text;
$content-titlebar-color: $text-backgound;

$font-title: 'Spartan', sans-serif;
$font-regular: 'Roboto', sans-serif;

$navbar-shadow: 0px 2px 2px 1px rgba(0, 0, 0, .4);
$bottom-navbar-shadow: 2px 0px 2px 1px rgba(0, 0, 0, .4);
$floating-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .4);
$small-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .1);


// Tooltips
$tooltip-arrow-color:$book-orange;
$tooltip-bg:$book-orange;


@import "bootstrap/scss/bootstrap";


body {
  padding-top: 55px;
  background-color: $background;
  font-family: $font-regular;
  h1, h2, h3, h4, h5, h6 {
    font-family: $font-title;
  }
}

.btn-icon {
  height: 1rem;
  filter: invert(1);
  //height: 1rem;
  //filter: invert(1);
  //fill: white;
}

.btn:focus {
  box-shadow: $button-focus-shadow;
}

table {
  @extend .table, .table-sm, .table-striped, .table-bordered, .text-left;
  thead {
    background: $content-titlebar-background;
    color: $content-titlebar-color;
  }
}

// To fix strange behavior when modal open: top/bottom borders on toc navbar
// Class modal-open is added to body and cause this mess, following trick solves the problem
// https://stackoverflow.com/questions/25274244/twitter-bootstrap-modal-opening-closing-causes-fixed-header-to-jump
.modal-open {
  overflow: inherit
}

/**********/
/* Common */
/**********/
a {
  color: $book-blue;
}

a:hover {
  color: $book-orange;
}

.btn-primary {
  background-color: $book-orange;
  border: none;
  color: white;
  border-radius: 0em;
}

.btn-primary:hover {
  background-color: $book-orange;
}

.btn-primary:active {
  background-color: $book-orange;
}

.not-behind-nav {
  top: 55px;
}

// Home

@include media-breakpoint-up(md) { 
  .home-book {
    background: linear-gradient(to right,  $book-blue 0%,$book-blue 50%,white 50%,white 100%);
  }
}

@include media-breakpoint-down(sm) {
  .home-book {
    background: white;
  }
}

.home-book-sm-cover {
  background: linear-gradient(to right,  $book-blue 0%,$book-blue 50%,white 50%,white 100%);
  .card-img-sm {
    max-height: 150px;
    width: auto;
  }
}

.home-book {
  box-shadow: $small-shadow;
  .card-body-quotes {
    @extend .pb-0;

    .carousel-item {
      min-height: 120px;
      
      .blockquote {
        font-family: $font-title;
        text-align: justify;
        @include media-breakpoint-down(md) {
          font-size: 0.95rem;
        }
        @include media-breakpoint-down(sm) {
          font-size: 0.9rem;
        }
      }
    }
  }

  .card-body-action {
    @extend .pt-0, .text-center;
  }
}

.card-home {
  box-shadow: $small-shadow;
  a {
    text-decoration: none;
    color: inherit;
  }
}

.home-section-title {
  h1 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    a {
      text-decoration: none;
      color: inherit;
    }
  }

  h1[id]::before {
    content: '';
    display: block;
    height:      80px;
    margin-top: -65px;
    visibility: hidden;
  }
}

.home-banner {
  margin-top: -55px;

  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;

  @include media-breakpoint-down(xl) {
    height: 400px;
    background-image: url('/images/commons/home-banner.jpg'), linear-gradient(to right,  #9F92C7 0%,#9F92C7 50%,#634E91 50%,#634E91 100%);
  }

  @include media-breakpoint-down(lg) {
    height: 400px;
    background-image: url('/images/commons/home-banner.jpg'), linear-gradient(to right,  #9F92C7 0%,#9F92C7 50%,#634E91 50%,#634E91 100%);
  }

  @include media-breakpoint-down(md) {
    //background-image: url('/images/commons/home-banner-small.jpg');
    background-image: url('/images/commons/home-banner-small.jpg'), linear-gradient(to right,  #9F92C7 0%,#9F92C7 50%,#634E91 50%,#634E91 100%);
    height: 300px;
  }

  @include media-breakpoint-down(sm) {
    //background-image: url('/images/commons/home-banner-small.jpg');
    background-image: url('/images/commons/home-banner-small.jpg'), linear-gradient(to right,  #9F92C7 0%,#9F92C7 50%,#634E91 50%,#634E91 100%);
    height: 250px;
  }

  .card-img-overlay-text {
    padding: 10px;
    background-color: rgba(10,10,10, 0.2);
    color: white;
    float: right;

    @include media-breakpoint-down(xl) {
      margin-top: 75px;
      width: 400px;
    }

    @include media-breakpoint-down(lg) {
      margin-top: 55px;
      width: 400px;
    }

    @include media-breakpoint-down(md) {
      margin-top: 35px;
      width: 300px;
      font-size: 0.8rem;
    }

  }
}

.row-footer {
    background-color: $navbar-backgound;
    color: $navbar-font;
    box-shadow: $small-shadow;
    min-height: 100px;
    margin-top: 30px;
}

/***********/
/* Content */
/***********/


.main-navbar {
  color: $navbar-font;
  .nav-item.nav-link, .nav-item.active.nav-link {
    color: $navbar-font;
  }
  .navbar-brand {
    color: $navbar-font;
  }
  .nav-link:hover, .navbar-brand:hover {
    color: $link-hover;
  }
}


.navbar-home {
  background-color: none;
  .btn-book {
    img {
      display: none;
    }

  }
}

.navbar-home.scrolled {
  box-shadow: $navbar-shadow;
  background-color: $navbar-backgound;
  .btn-book {
    img {
      display: block;
    }
  }
}

.navbar-page {
  background-color: $navbar-backgound;
  box-shadow: $navbar-shadow;
}

.navbar-page.scrolled {
  box-shadow: $navbar-shadow;
}

.navbar-toggler {
  i {
    color: $book-orange;
  }
}

.navbar-page-title {
  @extend .text-uppercase;
  color: $navbar-backgound;
  transition: color .50s linear;
  //font-family: $font-title;
  //font-size: 1rem;
}

.navbar-page-title-visible {
  color: $navbar-font;
  transition: color .50s linear;
}

* > .scrolled, .scrolled > * {
  transition: box-shadow .25s linear, background-color .25s linear;
}


// Only used by expanded code blocks so far
.close-to-main-navbar {
  top: 55px;
}

.page-image {
  margin-bottom: 35px
}

.main-content {
  padding-left: 10px;
  padding-right: 10px;

  .page-section {
    padding-left: 10px;
    padding-right: 10px;
  }

  .page-section-not-title {
    padding-top: 10px;
  }
  
  .page-section-title {
    padding-top: 20px;
  }
  
}

@include media-breakpoint-up(md) {
  .main-content {
    padding-left: 20px;
    padding-right: 20px;

    .page-section {
      padding-left: 20px;
      padding-right: 20px;
    }

    .page-section-not-title {
      padding-top: 20px;
    }
    
    .page-section-title {
      padding-top: 30px;
    }
  
  }
}

@include media-breakpoint-up(lg) {
  .main-content {
    padding-left: 0px;
    padding-right: 30px;

    .page-section {
      padding-left: 55px;
      padding-right: 55px;
    }

    .page-section-not-title {
      padding-top: 30px;
    }
    
    .page-section-title {
      padding-top: 50px;
    }
  
  }

}

.main-content {
  top: -140px;

  .page-section-not-title, .series-header {
    // Avoid having headers hidden by navbar when using inner links (with toc for example)
    h1[id]::before, h2[id]::before, h3[id]::before, h4[id]::before, h5[id]::before, h6[id]::before {
      content: '';
      display: block;
      height:      80px;
      margin-top: -65px;
      visibility: hidden;
    }
  }

  .page-section {
    h1,h2,h3,h4,h5,h6 {
      text-align: left;
    }
    background-color: $content-background;
    padding-bottom: 30px;
    box-shadow: $small-shadow;
  }

  .table-wrapper {
    overflow-x: auto;
  }

}

/***************/
/* Series menu */
/***************/

// <= md
@include media-breakpoint-down(md) {
  .dropdown-menu-series {
    top: -1px;
    left: -6px;
    width: min(400px, 90vw, 90vh);

  }
}

// >= lg
@include media-breakpoint-up(lg) {
  .dropdown-menu-series {
    margin-top: 7px;
  }
}

.dropdown-menu-series {
  background-color: $sidebar-background;
  color: $sidebar-font;
  box-shadow: $floating-shadow;

  .active.disabled {
    color: $book-orange;
  }

  .selectable {
    color: white;
  }

  .selectable:hover {
    background: $menu-hover-background;
    color: $menu-hover-color
  }
}


/***************/
/* Left column */
/***************/

.left-menu-modal {
  z-index: -1;
  background: rgba(12,12,12,0.5);
}

.card-book-left:hover {
  cursor: pointer;
}

.card-book-left {
  @extend .rounded-0, .border-0;
  color: $book-orange;
  img {
    @extend .rounded-0;
  }
  .message-cropped {
    padding-right: 80px;
    line-height: 1rem;
    @include media-breakpoint-down(xl) {
      padding-top: 10px;
      padding-left: 24px;
    }
    @include media-breakpoint-down(lg) {
      padding-top: 5px;
      padding-left: 20px;
    }
  }

  .message-full {
    padding-right: 80px;
    line-height: 1rem;
    @include media-breakpoint-down(xl) {
      padding-top: 25px;
      padding-left: 24px;
    }
    @include media-breakpoint-down(lg) {
      padding-top: 20px;
      padding-left: 20px;
    }
  }
}

.left-menu-modal.show {
  display: block;
  z-index: 1020
}

// <= md
@include media-breakpoint-down(md) {
  .left-column {
    position: fixed;
    top: 53px;
    left: 0px;
    bottom: 0px;
    //height: calc(100vh - 55px);
    width: calc(min(300px, 70vh, 70vw));
    //z-index: -100;
    visibility: hidden;
    transition: visibility linear 0.35s;

    .d-flex {
      height: 100%;
      position: relative;
      left: -100%;
      transition: left linear 0.35s; 
    }
  }

  .left-column-shown {
    //z-index: 1020;
    //width: 100%;
    visibility: initial;
    .d-flex {
      left: 0px;
    }
  }
  
}

// >= lg
@include media-breakpoint-up(lg) {
  .left-column {
    top: 95px;
    height: calc(100vh - 135px);
  
    .d-flex {
      max-height: 100%;
      margin-right: -12%;
      margin-left: -12%;
      width: 124%;
    }
  }
}

.left-column {

  //TOC
  #scrollable-toc {
    margin-top: 1em;
    flex-grow : 1;
    background-color: $sidebar-background;
  }

  .toc-filler {
    padding: 4px;
    background-color: $sidebar-background;
  }

  .d-flex {
    box-shadow: $floating-shadow;
    background-color: $sidebar-background;

    #toc {
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
      padding-bottom: 0px; 
    }

    .nav {
      background-color: $sidebar-background;
    }

    .nav-divider {
      height: 0.1rem;
      border-top-style: solid;
      border-top-width: 1px;
      border-top-color: $book-orange;
      margin-right: 15px;
      margin-left: 15px;
      margin-top: 0;
      margin-bottom: 0;
    }

    .nav-link {
      color: $sidebar-font;
      background-color: $sidebar-background;
      font-weight: 100;
    }

    .nav-link:hover, .nav-link.active:hover {
      background: $menu-hover-background;
      color: $menu-hover-color
    }
    
    .navbar-page-title {
      background-color: $sidebar-background;
      //color: $book-orange;
      padding-left: 1rem;
    }


    .toc-level-1 {
      font-size: 1rem;
    }
  
    .toc-level-2 {
      font-size: 0.8rem;
      padding-left: 26px;
    }
  
    .nav-link.active {
      color: $sidebar-font-active;
      //box-shadow: inset 5px 0px $book-orange;
      //transition: box-shadow 0.3s ease-in-out;
    }
  }
}

.series-header {
  .list-group {
    color: $book-grey;
    .a {
      color: $book-grey;
    } 
    .active {
      border-color: $list-group-border-color;
      background-color: $list-group-bg;
      color: black;
    }
  }
}

/*****************/
/* Bottom navbar */
/*****************/

.navbar-bottom {
  position: fixed;
  @extend .btn-group-vertical, .rounded-0;
  .navbar-bottom-btn {
    @extend .btn, .btn-primary, .rounded-0, .mb-2;
    box-shadow: $floating-shadow;
  }
  .navbar-bottom-btn:focus {
    box-shadow: $floating-shadow;
    background-color: $book-orange;
  }
  z-index: 1030;
  bottom: 20px;
}

@include media-breakpoint-down(md) {
  .navbar-bottom {
    right: 30px;
  } 
}

// >= lg
@include media-breakpoint-up(lg) {
  .navbar-bottom {
    right: calc(50vw - 475px);
  }
}

@include media-breakpoint-up(xl) {
  .navbar-bottom {
    right: calc(50vw - 565px);
  }
}

/*****************/
/* Display utils */
/*****************/

.d-xs-only {
  @extend .d-block, .d-sm-none;
}

.d-sm-only {
  @extend .d-none, .d-sm-block, .d-md-none;
}

.d-md-only {
  @extend .d-none, .d-md-block, .d-lg-none;
}

.d-lg-only {
  @extend .d-none, .d-lg-block, .d-xl-none;
}

.d-xl-only {
  @extend .d-none, .d-xl-block;
}

.d-mobile-only {
  @extend .d-md-block, .d-lg-none;
}

.d-desktop-only {
  @extend .d-none, .d-lg-block;
}