---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "bootstrap/scss/bootstrap";

// book
$dark-imperial-blue: #014E68;
$deep-carrot-orange: #E66C29;
$x11-gray: #BCBFBD;
$light-gray: #D0DBD6;
$saffron: #F3C92F;

// me motu
$brown: rgba(46, 24, 26, 1);
$red: #7B0A0A;
$lightblue: rgba(141, 185, 209, 1);
$darkblue: rgba(36, 49, 74, 1);
$grey: rgba(174, 182, 189, 1);

$background: $light-gray;

$navbar-backgound: $dark-imperial-blue;
$navbar-font: $deep-carrot-orange;
$navbar-border: $deep-carrot-orange;
$sidebar-background: $navbar-backgound;
$sidebar-font: $light-gray;
$sidebar-background-active: $light-gray;
$sidebar-font-active: $navbar-backgound;
$sidebar-border-active: $deep-carrot-orange;
$content-background: white;
$content-font: black;
$series-title-background: $deep-carrot-orange;
$series-title-font: black;



$navbar-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12);
$navbar-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.12);
$navbar-shadow: 0px 5px 2px 1px rgba(1, 1, 1, .4);
$navbar-shadow: 0px 2px 2px 1px rgba(0, 0, 0, .4);

$floating-shadow: 5px 5px 2px 1px rgba(1, 1, 1, .4);
$floating-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .4);

body {
  padding-top: 55px;
  background-color: $background;
  font-family: 'Roboto', sans-serif;
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Spartan', sans-serif;
  }
}

.row-book {
  background: linear-gradient(to right,  $dark-imperial-blue 0%,$dark-imperial-blue 50%,white 50%,white 100%);
  .blockquote {
    font-family: 'Spartan', sans-serif;
    text-align: justify;
  }
  .btn-primary {
    margin-top: -50px;
  }
}

.card-post-summary-home {
  box-shadow: $floating-shadow;
  a {
    text-decoration: none;
    color: inherit;
  }
}

.home-last-posts-title {
  h1 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

.background-book-home-banner {
  background-repeat: no-repeat;
  //background-size: contain;
  background-size: cover;
}

@media (min-width: 1200px) {
  .background-book-home-banner {
    background-image:url('{{ "/images/commons/book/book-home-banner-380-300.png" | prepend: site.baseurl | prepend: site.github.url}}');
    height: 250px;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .background-book-home-banner {
    background-image:url('{{ "/images/commons/book/book-home-banner-350.png" | prepend: site.baseurl | prepend: site.github.url}}');
    height: 220px;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .background-book-home-banner {
    background-image:url('{{ "/images/commons/book/book-home-banner-350.png" | prepend: site.baseurl | prepend: site.github.url}}');
    height: 210px;
  }
}


.me {
  background-color: white;
  margin-top: -55px;

  .card-img-overlay-text {
    width: 400px;
    padding: 10px;
    background-color: $navbar-backgound;
    color: white;
    float: right;
  }
}

@media (min-width: 1200px) {
  .me .card-img-overlay-text {
    margin-top: 75px;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .me .card-img-overlay-text {
    margin-top: 55px;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .me .card-img-overlay-text {
    margin-top: 35px;
  } 
}

.btn-primary {
  background-color: $deep-carrot-orange;
  border: none;
  color: white;
  border-radius: 0em;
}

.btn-primary:hover {
  background-color: $deep-carrot-orange;
}

.not-behind-nav {
  top: 55px;
}

.posts {
  padding-top: 25px;
}

.card-post-summary {
  .card-body {
    background-color: $background;
  }
  .over-card-image {
    margin-top: -100px;
    background-color:$content-background;
    padding: 15px;
  }
}

.card-page-title {
  margin-top: 0px;
  margin-bottom: 15px;
  padding-top: 20px;

  .card-page-series-title, .card-title  {
    margin-bottom: 0;
  }
}

.below-main-navbar {
  //padding-top: 15px;
}

.close-to-main-navbar {
  top: 55px;
}

.navbar-home {
  background-color: rgba(255, 255, 255, 0.5);
}

.navbar-home.scrolled {
  box-shadow: $navbar-shadow;
  background-color: $navbar-backgound;
}

.navbar-page {
  background-color: $navbar-backgound;
  box-shadow: $navbar-shadow;
}

.navbar-page.scrolled {
  box-shadow: $navbar-shadow;
}

* > .scrolled, .scrolled > * {
  transition: box-shadow .25s linear, background-color .25s linear;
}


.main-navbar {
  color: $navbar-font;
  .nav-item .nav-link, .nav-item.active .nav-link {
    color: $navbar-font;
  }
  .navbar-brand {
    color: $navbar-font;
  }

}

.page-image {
  margin-bottom: 35px
}

.content-img {
  margin-bottom: 1rem;
}

.page-content {
  @media (min-width: 768px) {
    margin-left: -5px;
    margin-right: 15px;
  }
  @media (max-width: 768px) {
    margin-left: 10px;
    margin-right: 10px;
  }

  .page-content-text-separator {
    background-color: $background;
    height: 2rem;
    margin-left: -40px;
    margin-right: -40px;
  }

  h1,h2,h3,h4,h5,h6 {
    text-align: left;
  }

  .page-content-text {
  // Avoid having headers hidden by navbar when using inner links (with toc for example)
    [id]::before {
      content: '';
      display: block;
      height:      80px;
      margin-top: -65px;
      visibility: hidden;
    }
  }


}

.main-content {
  background-color: $content-background;
  top: -120px;
  padding-top: 20px;
  @media (min-width: 768px) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media (max-width: 768px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.left-column {
  top: 95px;
  height: calc(100vh - 135px);
  background-color: $background;

  .d-flex {
    max-height: calc(100vh - 135px);
    margin-right: -20px;
    box-shadow: $floating-shadow;
  }

  .dropdown-menu {
    box-shadow: 5px 5px 2px 1px rgba(1, 1, 1, .4);
    background-color: $series-title-background;
    color: $series-title-font;
    margin-left: -1px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius : $dropdown-border-radius;
    border-bottom-right-radius : $dropdown-border-radius;
  }

  .btn-group {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: $sidebar-background;
    .btn {
      background-color: $series-title-background;
      color: $series-title-font;
    }
    .btn:focus {
      box-shadow: none;
    }
  }
}

//TOC
#scrollable-toc {
  margin-top: 1em;
  flex-grow : 1;
}

.toc-filler {
  padding: 4px;
  background-color: $sidebar-background;
}

.book-button {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: $sidebar-background;
  border-radius: unset;
  .btn {
    border-style: none;
  }
}

#toc {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  .nav-link {
    color: $sidebar-font;
    background-color: $sidebar-background;
    //border-right-style: solid;
    //border-right-width: 1px;
    //border-right-color: $sidebar-background;
    border-radius: 0;
    //border-bottom-style: none;
    //border-top-style: none;
  }
  .toc-level-1 {
    font-size: 1rem;
  }

  .toc-level-2 {
    font-size: 0.8rem;
    padding-left: 26px;
  }
  .active {
    background-color: $sidebar-background-active;
    color: $sidebar-font-active;
    border-left-color:$sidebar-border-active;
    border-left-style: solid;
    border-left-width: 8px;
    border-right-style: none;
    //box-shadow: inset 2em 0em $sidebar-border-active;
  }

  .toc-level-1.active {
    padding-left: 8px;
  }

  .toc-level-2.active {
    padding-left: 18px;
  }

  * > .active {
    transition: padding-left .25s linear, border-left-width .25s linear, background-color .25s linear;
  }


  .nav-link:hover {
    color: $deep-carrot-orange;
  }
}

.series-header {
  .list-group {
    color: darkgrey;
    .a {
      color: darkgrey;
    } 
    .active {
      border-color: $list-group-border-color;
      background-color: $list-group-bg;
      color: black;
    }
  }
}