<div class="post-summary book-banner-horizontal">
    <h2>
      <a class="post-link" href="{% include _everydayapis/meap-url.md %}">Read my API Design book</a>
    </h2>
    <a class="post-link" href="{% include _everydayapis/meap-url.md %}">
      <img class="img-responsive center-block post-summary-thumbnail" src="/images/commons/everydayapis/book-horizontal-banner.png"></a>
    
      <p class="text-justify"></p><p>Learn Web APIs design with the <a class="post-link" href="{% include _everydayapis/meap-url.md %}">Design of Everyday APIs</a> (affiliate link).</p>
    
  </div>