<div class="card card-code text-white bg-dark border-dark">
  <div class="card-header">
    <nav class="navbar navbar-expand-md">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <span class="navbar-text text-white small font-weight-bold">{{include.title}}</span>
          </li>
        </ul>
    </nav>
  </div>
  <div class="card-body">
      <div class="d-none d-block d-sm-block d-md-block d-lg-none">
        <asciinema-player poster="{{include.poster}}" title="{{include.title}}" author="Arnaud Lauret" rows="24" cols="68" src="{{include.src}}"></asciinema-player>
      </div>
      <div class="d-none d-lg-block d-xl-none">
        <asciinema-player poster="{{include.poster}}" title="{{include.title}}" author="Arnaud Lauret" rows="24" cols="104" src="{{include.src}}"></asciinema-player>
      </div>
      <div class="d-none d-xl-block">
        <asciinema-player poster="{{include.poster}}" title="{{include.title}}" author="Arnaud Lauret" rows="24" cols="125" src="{{include.src}}"></asciinema-player>
      </div>
  </div>
</div>