<div class="card card-code card-bash text-white bg-dark border-dark">
  <div class="card-header">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="navbar-brand font-weight-bold">{{include.title}}</div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-ellipsis-v"></i>
      </button>  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-md-auto">
          <li class="nav-item"><a class="nav-link"><i class="fas fa-fast-backward"></i></a></li>
          <li class="nav-item"><a class="nav-link" id="play" onclick="javascript:bashPlayPause(this);"><i class="fas fa-play"></i></a></li>
          <li class="nav-item"><a class="nav-link"><i class="fas fa-fast-forward"></i></a></li>
          <li class="nav-item">
            <a class="nav-link d-none d-block d-sm-block d-md-block d-lg-none">68</a>
            <a class="nav-link d-none d-lg-block d-xl-none">104</a>
            <a class="nav-link d-none d-xl-block">125</a>
          </li>
          {% if include.sections %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-list-ul"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <span class="dropdown-item-text">Chapters</span>
              <div class="dropdown-divider"></div>
              {% assign section=include.sections | split:";" %}
              {% for section in section %}
                {% assign sectionValues=section | split:"," %}
                <a class="dropdown-item" onclick="javascript:bashPlayerGoTo(this, {{sectionValues[1]}})">{{sectionValues[0]}}</a>
              {% endfor %}
            </div>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </div>
  <div class="card-body bash-player">
    <asciinema-player id='player' title="{{include.title}}" author="Arnaud Lauret" rows="24" cols="125" src="{{include.src}}"></asciinema-player>
  </div>
</div>