{% if include.stretched_url == true or include.stretched_url == nil %}
  {% assign stretched_class = ' class="stretched-link"' %}  
{% else %}
  {% assign stretched_class = '' %}
{% endif %}
{% if include.disableSameHeight == true %}
  {% assign sameHeight = '' %}
{% else %}
  {% assign sameHeight = 'h-100' %}
{% endif %}
<div class="card {{include.class}} rounded-0 border-0 {{sameHeight}}">
  {% if include.image %}
  <img src="{{ include.image | prepend: site.baseurl | prepend: site.github.url}}" class="card-img-top rounded-0" alt="include.image_alt">
  {% endif %}
  <div class="card-body">
    {% if include.surtitle %}
    <h5 class="card-surtitle font-weight-lighter">{{include.surtitle}}</h5>
    {% endif %}
    {% if include.url contains "://" %}
      {% assign url = include.url %}
    {% else %}
      {% assign url = include.url | prepend: site.baseurl | prepend: site.github.url %}
    {% endif %}
    {% if include.target %}
      {% assign target = ' target="' | append:include.target | append:'"'%}
    {% else %}
      {% assign target = "" %}
    {% endif %}
    <a href="{{url}}"{{stretched_class}}{{target}}><h4 class="card-title">{{include.title}}</h4></a>
    {% if include.subtitle %}
    <h6 class="card-subtitle mb-2 text-muted">{{include.subtitle}}</h6>
    {% endif %}
    <div class="card-text card-content text-justify">{{ include.content }}</div>
  </div>
  {% if include.bottom_html %}
    {{include.bottom_html}}
  {% endif %}
</div>