{% if include.css %}
 {%assign css= " page-content-text-" | append: include.css %}
{% else %}
  {%assign css = "" %}
{% endif %}
<div class="page-content-text anchors{{css}}">
  {% assign wrapped_tables_content = content | replace: '<table', '<div class="table-wrapper"><table' %}
  {% assign wrapped_tables_content = wrapped_tables_content | replace: 'table>', 'table></div>' %}
  {% assign nodes = wrapped_tables_content| split: '<h1 id=' %}
  {% assign first = 1 %}
  {% for node in nodes %}
    {% if node == "" %}
      {% continue %}
    {% endif %}
    {% if first == 1 %}
    <!-- First card with page title -->
    <div class="card-page-section page-section-title">
      <div class="body">
        {% if include.surtitle %}
        <h5 class="surtitle">{{include.surtitle}}</h5>
        {% endif %}
        {% if include.title %}
        <h1 class="title">{{include.title}}</h1>
        {% endif %}
        {% if include.subtitle %}
        <h6 class="subtitle">{{include.subtitle}}</h6>
        <hr/>
        {% endif %}
        {{node}}
        {{ include.title_section_bottom }}
      </div>
    </div><!-- First card with page title END -->
      {% assign first = 0 %}
    {% else %}
    <!-- Next cards -->
    <div class="card-page-section page-section-not-title">
      <div class="card-body">
      {%assign h1="<h1 id="%}
        {{h1}}{{ node}}
      </div>
    </div><!-- Next cards END -->
    {% endif %}
  {% endfor %}
  {{ include.cards }}
</div><!-- class="page-content-text"-->
