{% if include.css %}
  {% assign row_banner_css = include.css %}
{% else %}
  {% assign row_banner_css = 'default' %}
{% endif %}
<div class="row row-banner row-banner-{{row_banner_css}}">
  <div class="container-fluid d-flex p-O">
        <div class="col p-0 banner-left"></div>
        <div class="col p-0 banner">
          <div class="col-12 p-0">
            <div class="card rounded-0 border-0 p-0 m-0 text-right">
              <div class="card-img-top"></div>
              {% if include.overlay %}
              <div class="card-img-overlay">
                <div class="card-img-overlay-text d-none d-lg-block">
                {{include.overlay}}
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col p-0 banner-right"></div>
    </div>
</div>