<div class="row row-banner row-banner-{{include.css}}">
  <div class="container-fluid">
    <div class="col-12">
      <div class="container p-0 banner">
        <div class="col-12 p-0">
          <div class="card rounded-0 border-0 p-0 m-0 text-right">
            <div class="card-img-top"></div>
            {% if include.overlay %}
            <div class="card-img-overlay">
              <div class="card-img-overlay-text d-none d-md-block">
              {{include.overlay}}
            </div>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>