{% if site.data.categories[page.title] %}
  {% assign title = page.title | capitalize | append:' | ' | append:site.title %}
{% elsif page.title %}
  {% assign title = page.title | append:' | ' | append:site.title %}
{% else %}
  {% assign title = site.title %}
{% endif %}

<head>
  <title>{{ title | escape }}</title>
  <!-- META -->
  {% include libs.html type="meta" %}
    <!-- META TWITTER -->
    <!-- META FACEBOOK -->
    <!-- META LINDEDIN? -->
    <!-- STANDARD META -->
  <!-- CSS -->
  {% include libs.html type="css" %}
  <!-- HEAD JS -->
  <!-- RSS -->
  <!-- ANALYTICS -->
</head>