{%- assign code = site.data.http-status-codes | find: "code", include.code -%}
{%- assign rfc = site.data.rfcs | find: "id", code.source.id -%}
{%- if include.style == "code" -%}
`{{code.code}}`
{%- elsif include.style == "reason" -%}
`{{code.reason}}`
{%- elsif include.style == "rfc" -%}
{{code.source.type | append: " " | append: code.source.id}}
{%- elsif include.style == "rfcname" -%}
{{rfc.name}}
{%- elsif include.style == "rfcfull" -%}
<a href="{{code.source.location}}">{{code.source.type | append: " " | append: code.source.id | append: " - " | append: rfc.name}}</a>
{%- elsif include.style == "quote" -%}
{%- assign source = code.source.type | append: " " | 
            append: code.source.id | append: " " |
            append: rfc.name | append:", " | 
            append: code.source.location -%}
{%- include quote.html source=source url=code.source.url text=code.description -%}
{%- else -%}
`{{code.code | append: " " | append: code.reason}}`
{%- endif -%}