{%- assign startsWith = '/images/' -%}
{%- assign checkArray = include.source | split:startsWith -%}
{%- if checkArray[0] == blank -%}
  {%- assign source = include.source -%}
{%- else -%}
  {%- assign source = page.permalink | append:include.source | prepend:'/images' -%}
{%- endif -%}
{%- if include.alt -%}
  {%- assign alt= include.alt | prepend:' alt ="' | append:'"' -%}
{%- else -%}
  {%- assign alt='' -%}
{%- endif -%}
{%- if include.type == "inline" -%}
<img src="{{source}}" class="image-inline"{{alt}}>
{%- elsif include.type == "simple" -%}
<img src="{{source}}" class="image-simple"{{alt}}>
{%- else -%}
<div class="image">
    <figure class="figure">
        <img src="{{source}}" class="figure-img img-fluid"{{alt}}>
        {%- if include.caption -%}
        <figcaption class="figure-caption">{{include.caption}}</figcaption>
        {%- endif -%}
    </figure>
</div>
{%- endif -%}