<script type="text/javascript" src="{{ "/js/toc.js" | prepend: site.baseurl | prepend: site.github.url }}" ></script>
<script type="text/javascript" src="{{ "/js/clipboard.min.js" | prepend: site.baseurl | prepend: site.github.url }}" ></script>
<script type="text/javascript" src="{{ "/js/code.js" | prepend: site.baseurl | prepend: site.github.url }}" ></script>
<script type="text/javascript" src="{{ "/js/anchor.min.js" | prepend: site.baseurl | prepend: site.github.url }}" ></script>
<script>
  anchors.options = {
    placement: 'right',
    visible: 'always',
    icon: '#'
  };
  anchors.add('.anchors h1, .anchors h2, .anchors h3');
</script>