<script type="text/javascript" src="{{ "/js/bootstrap-toc.min.js" | prepend: site.baseurl | prepend: site.github.url }}" ></script>
<script language="javascript">
  $(function() {
    var $myNav = $('#toc');
    var $myScope = $('#post');
    Toc.init({
      $nav: $myNav,
      $scope: $myScope
    });
    $('body').scrollspy({
      target: '#toc'
    });
  });
</script>
<script type="text/javascript" src="{{ "/js/anchor.min.js" | prepend: site.baseurl | prepend: site.github.url }}" ></script>
<script language="JavaScript">
  $(function() {
    anchors.options = {
      placement: 'left'
    };
    anchors.add('.blog-container h1');
    anchors.add('.blog-container h2');
    anchors.add('.blog-container h3');
  });
</script>
<script type="text/javascript" src="{{ "/js/prism.js" | prepend: site.baseurl | prepend: site.github.url }}" ></script>
<script type="text/javascript" src="{{ "/js/clipboard.min.js" | prepend: site.baseurl | prepend: site.github.url }}" ></script>
<script language="JavaScript">
  var clipboard = new Clipboard('.btn-copy', {
    target: function(trigger) {
      return trigger.parentElement.parentElement.parentElement.children[1];
    }
  });
  clipboard.on('success', function(e) {
    e.clearSelection();
    $(e.trigger).html('<i class="fa fa-check" aria-hidden="true"></i>');
    window.setTimeout(function() {
        $(e.trigger).html('<i class="fa fa-clipboard" aria-hidden="true"></i>');
        $(e.trigger).blur();
    }, 1000);
  });
</script>
<script language="JavaScript">
  function toggle(button, code, scroll) {
    var beforecodeheight = $(code).height(); 
    if($(code).hasClass('code-collapsed')) {
      $(code).removeClass('code-collapsed');
      $(button).html('<i class="fa fa-compress" aria-hidden="true"></i>');
      $(button).blur();
    }
    else {
      $(code).addClass('code-collapsed');
      $(button).html('<i class="fa fa-expand" aria-hidden="true"></i>');
      $(button).blur();
      if(scroll) {
        var aftercodeheight = $(code).height();
        var afterscroll = $('body').scrollTop();
        var delta = beforecodeheight - aftercodeheight;
        $('body').scrollTop(afterscroll - delta);
      }
    }
  }
</script>