{% include lib-reset.html %}

{% assign lib_file = "_libs/" | append: include.lib | append: ".html" %}
{% include {{lib_file}} %}

{% if lib_dependencies %}
  {% assign dependencies = lib_dependencies | split: "," %}
  {% for dependency in dependencies %}
    {% assign dependency_name=dependency | append: "_" | append: include.type %}
    {% unless included_libs contains dependency_name %}
      {% include lib.html lib=dependency type=include.type %}
    {% endunless %}
  {% endfor %}
{% endif %}

{% include lib-reset.html %}
{% assign lib_file = "_libs/" | append: include.lib | append: ".html" %}
{% include {{lib_file}} %}

{% if include.type == "meta" %}
  {% assign lib_content=lib_meta %}
{% elsif include.type == "css" %}
  {% assign lib_content=lib_css %}
{% elsif include.type == "js" %}
  {% assign lib_content=lib_js %}
{% endif %}

{% assign lib_name=include.lib | append: "_" | append: include.type %}
{% unless included_libs contains lib_name %}
  {% assign included_libs=included_libs | append: lib_name | append: "," %}
  {{ lib_content }}
{% endunless %}
