<meta name="description" content="{{ page_description }}">
<meta name="keywords" content="API,Web API,Web Service">
<meta name="author" content="{{ site.author }}">
<meta name="description" content="{{ page_description }}">

<!-- Facebook & LinkedIn -->
<meta property="og:title"         content="{{ page_title }}"/>
<meta property="og:type"          content="{{ page_type }}"/>
<meta property="og:description"   content="{{ page_description }}"/>
<meta property="og:url"           content="{{ page_url }}"/>
<meta property="og:image"         content="{{ page_banner }}"/>

<!-- Twitter -->
<meta name="twitter:card"         content="summary">
<meta name="twitter:site"         content="@{{ site.twitter_username }}">
<meta name="twitter:creator"      content="@{{ site.twitter_username }}" />
<meta name="twitter:title"        content="{{ page_title }}">
<meta name="twitter:url"          content="{{ page_url }}">
<meta name="twitter:description"  content="{{ page_description }}">
<meta name="twitter:image:src"    content="{{ page_banner }}">
