{% if page.title %}
{% assign navbarstyle="navbar-page" %}
{% else %}
{% assign navbarstyle="navbar-home" %}
{% endif %}
<div class="main-navbar fixed-top {{navbarstyle}}">
  <div class="container-lg">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="/">API Handyman</a>
      <button class="navbar-toggler left-column-hider" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      {% if page.layout == 'post' %}
        {%assign class_expand="flex-grow-0" %}
      {% else %}
        {%assign class_expand="flex-fill" %}
      {% endif %}
      <div class="collapse navbar-collapse flex-grow-1 {{class_expand}}" id="navbarNav">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/blog">Blog</a>
          <a class="nav-item nav-link" href="/talks">Talks</a>
          <a class="nav-item nav-link" href="/#tools">Toolbox</a>
          <a class="btn btn-book btn-book-small pl-0 border-0 rounded-0 text-left left-column-hider d-block d-sm-block d-md-block d-lg-none" data-toggle="modal" data-target="#bookModal" role="button" ><img data-toggle="collapse" data-target="#navbarNav" src="/images/commons/book/title.png" class="img-fluid" alt="The Design of Web APIs book"></a>
        </div>
      </div>
      {% if page.layout == 'post' %}
        {% if page.series %}
        <div class="nav-item dropdown d-none d-sm-none d-md-none d-lg-block">
          <a class="nav-link dropdown-toggle navbar-page-title navbar-page-title-invisible text-right text-truncate d-none d-sm-none d-md-none d-lg-block" href="#" id="navbarSeriesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{page.series | append: ' Series'}} - Part {{page.series_number}}
          </a>
          {% include series-menu.html %}
        </div>
        {% else %}
          <span class="navbar-text navbar-page-title navbar-page-title-invisible flex-fill text-right text-truncate d-none d-sm-none d-md-none d-lg-block">
            {{page.title}}
          </span>
        {% endif %}
      {% elsif page.layout == 'home' %}
        <a class="btn btn-book btn-book-small p-0 border-0 rounded-0 text-left left-column-hider d-none d-sm-none d-md-none d-lg-block" data-toggle="modal" data-target="#bookModal" role="button" ><img src="/images/commons/book/title.png" class="img-fluid" alt="The Design of Web APIs book"></a>
      {% endif %}
    </nav> <!-- class="navbar navbar-expand-md" -->
  </div> <!--  class="container" -->
</div> <!-- class="main-navbar fixed-top {{navbarstyle}}" -->