{% if page.title %}
{% assign navbarstyle="navbar-page" %}
{% else %}
{% assign navbarstyle="navbar-home" %}
{% endif %}
<div class="main-navbar fixed-top {{navbarstyle}}">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="/">API Handyman</a>
      <a class="nav-item nav-link d-block d-md-none d-lg-none d-xl-none">SM</a>
      <a class="nav-item nav-link d-none d-sm-none d-md-block d-lg-none d-xl-none">MD</a>
      <a class="nav-item nav-link d-none d-sm-none d-md-none d-lg-block d-xl-none">LG</a>
      <a class="nav-item nav-link d-none d-sm-none d-md-none d-lg-none d-xl-block">XL</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      {% if page.layout == 'post' %}
        {%assign class_expand="flex-grow-0" %}
      {% else %}
        {%assign class_expand="flex-fill" %}
      {% endif %}
      <div class="collapse navbar-collapse {{class_expand}}" id="navbarNav">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/blog">Blog</a>
          <a class="nav-item nav-link" href="/talks">Talks</a>
          <a class="nav-item nav-link" href="/#tools">Tools</a>
          <a class="nav-item nav-link d-block d-sm-block d-md-block d-lg-none" modal" data-target="#bookModal" href="#"><img src="/images/commons/book/title.png"></a>
        </div>
      </div>
      {% if page.layout == 'post' %}
      <span class="navbar-text navbar-page-title navbar-page-title-invisible flex-fill text-center d-none d-sm-none d-md-none d-lg-block">
        {% if page.series %}
          {% assign title = page.series_title%}
        {% else %}
          {% assign title = page.title %}
        {% endif %}
        {{title}}
      </span>
      {% endif %}
      {% if page.layout == 'home' %}
      <a class="navbar-brand d-none d-sm-none d-md-none d-lg-block" data-toggle="modal" data-target="#bookModal" href="#"><img src="/images/commons/book/title.png"></a>
      {% endif %}
    </nav> <!-- class="navbar navbar-expand-md" -->
  </div> <!--  class="container" -->
</div> <!-- class="main-navbar fixed-top {{navbarstyle}}" -->