{% if left_column == true %}
<nav class="nav-page nav-fixed-bottom" aria-label="Page navigation">
  <a class="nav-page-btn back-to-top d-none" aria-label="back to top" data-toggle="tooltip" data-placement="right" title="Back to top">{% include svg/top.svg %}</a>
  {% if show_toc %}
  <a class="nav-page-btn left-menu-toggler d-mobile-only" aria-label="table of content toggler" data-toggle="tooltip" data-placement="right" title="Table of content">{% include svg/list.svg %}</a>
  {% endif %}
</nav>
{% endif %}