{% include variables.html item=page %}

{% assign page_title = item_title %}
{% assign page_title_browser = item_title_browser %}
{% assign page_series_title = item_series_title %}
{% assign page_series_menu_title = item_series_menu_title %}
{% assign page_formated_date = item_formated_date %}
{% assign page_formated_author_date = item_formated_author_date %}
{% assign page_type = item_type %}
{% assign page_url = item_url %}
{% assign page_banner = item_banner %}
{% assign page_description = item_description %}
{% assign page_catchphrase = item_catchphrase %}