{% if post.thumbnail %}
{% assign image = post.thumbnail %}
{% else %}
{% assign image = site.default_thumbnail %}
{% assign page_image = '/images' | append: post.permalink | append: 'thumbnail.png' %}
{% for static_file in site.static_files %}
  {% if static_file.path == page_image %}
      {% assign image = page_image %}
  {% endif %}
{% endfor %}
{% endif %}

{% if post.series %}
{% assign title = post.series_title%}
{% else %}
{% assign title = post.title %}
{% endif %}

{% if post.series %}
  {% capture surtitle %}
  {{post.series}} Series - Part {{post.series_number}}
  {% endcapture %}
{% else %}
  {% assign surtitle="" %}
{% endif %}
{% assign subtitle = post.author | prepend: 'By '%}
{% if post.full %}
  {% assign content = post.content %}
{% else %}
  {% assign content = post.excerpt %}
{% endif %}
{% include card.html
    class="card-home" 
    image=image
    image_alt="Post's banner"
    surtitle=surtitle
    title=title
    subtitle=subtitle
    content=content
    url=post.url
%}