
{% include variables.html item=post %}

{% if include.no_banner %}
  {% assign banner = nil %}
  {% assign banner_alt = nil %}
{% else %}
  {% assign banner = item_banner %}
  {% assign banner_alt = "Post's banner" %}
{% endif %}

{% if include.css  %}
  {% assign css = include.css %}
{% else %}
  {% assign css = "card-home" %}
{% endif %}

{% assign subtitle = item_formated_author_date %}
{% if include.short %}
  {% assign content = item_catchphrase %}
  {% assign subtitle = item_formated_author %}
{% elsif post.full %}
  {% assign content = post.content %}
{% else %}
  {% assign content = item_excerpt %}
{% endif %}

{% if post.external_url %}
  {% assign url = post.external_url %}
  {% assign target = "_blank" %}
{% else %}
  {% assign url = item_url %}
  {% assign target = nil %}
{% endif %}

{% include card.html
    class=css 
    image=banner
    image_alt=banner_alt
    surtitle=item_series_title
    title=item_title
    subtitle=subtitle
    content=content
    url=url
    target=target
%}