<table class="table-documentation-links" id="privacy-settings-configuration">
    <tr>
        <th>Setting</th>
        <th>Essential/Optionnal</th>
        <th>Status</th>
        <th>Documentation</th>
    </tr>
    <tr>
        <td>Cloudflare _cfuid Cookie</td>
        <td>Essential</td>
        <td><input type="checkbox" disabled checked></td>
        <td><a class="btn-documentation" href="#cloudflare-_cfduid-cookie">{% include svg/documentation.svg %}</a></td>
    </tr>
    <tr>
        <td>Cookieless anonymized Google Analytics</td>
        <td>Essential</td>
        <td><input type="checkbox" disabled checked></td>
        <td><a class="btn-documentation" href="#cookieless-anonymized-google-analytics">{% include svg/documentation.svg %}</a></td>
    </tr>
    <tr>
        <td>Local storage privacy banner toggler</td>
        <td>Optional</td>
        <td><input id="acceptedPrivacyPolicyDate" class="privacy-setting" type="checkbox"></td>
        <td><a class="btn-documentation" href="#privacy-policy-banner-toggler-in-local-storage">{% include svg/documentation.svg %}</a></td>
    </tr>
    <tr>
        <td>Cookie and local storage Vimeo (third party)</td>
        <td>Optional</td>
        <td><input id="showThirdParty.vimeo" class="privacy-setting" type="checkbox"></td>
        <td><a class="btn-documentation" href="#embedded-third-party-content-cookie-or-local-storage">{% include svg/documentation.svg %}</a></td>
    </tr>
    <tr>
        <td>Cookie and local storage YouTube (third party)</td>
        <td>Optional</td>
        <td><input id="showThirdParty.youtube" class="privacy-setting" type="checkbox"></td>
        <td><a class="btn-documentation" href="#embedded-third-party-content-cookie-or-local-storage">{% include svg/documentation.svg %} </a></td>
    </tr>
</table>