<div class="privacy-message d-none fixed-bottom container-fluid bg-dark text-white p-3">
  <div class="container">
    <div class="row">
      <div class="col text-justify">
        By continuing to use this web site you agree that API Handyman website stores a Cloud Flare _cfuuid anonymous cookie on your browser, saves anonymous analytics data with Google Analytics and store your consent in your browser's local storage.
      </div>
      <div class="col-auto align-self-center d-none d-sm-none d-md-block">
          <a class="btn btn-primary" href="/privacy">Read more</a>
          <a class="btn btn-primary" onclick="javascript:acceptPrivacyPolicy()">Dismiss</a>
      </div>
    </div>
    <div class="row text-center pt-2 d-block d-sm-block d-md-none">
      <div class="col">
        <a class="btn btn-primary" href="/privacy">Read more</a>
        <a class="btn btn-primary" onclick="javascript:acceptPrivacyPolicy()">Dismiss</a>
    </div>
    </div>
  </div>
</div>