<blockquote class="blockquote">
    <p class="mb-0">{{include.text}}</p>
    {%- if include.source or include.author -%}
    <footer class="blockquote-footer">
        <cite title="Source Title">
            {%- if include.author and include.source -%}
                {%- assign authorAndSource = include.author | append:", " | append:include.source  -%}
            {%- else -%}
                {%- assign authorAndSource = include.author | append:include.source -%}
            {%- endif -%}
            {%- if include.url -%}
            <a href="{{include.url}}">{{authorAndSource}}</a>
            {%- else -%}
            {{authorAndSource}}
            {%- endif -%}
        </cite>
    </footer>
    {%- endif -%}
</blockquote>