
{% assign thirdPartyContent = site.data.thirdpartycontents[include.title] %}
{% assign thirdParty = site.data.thirdparties[thirdPartyContent.source] %}

<div id="{{thirdPartyContent.id}}" class="third-party-content third-party-content-{{thirdPartyContent.source}}">
    <div class="card third-party-content-warning">
        <img class="card-img" src="{{thirdPartyContent.preview}}" alt="Card image">
        <div class="card-img-overlay d-flex">
            <div class="my-auto mx-auto text-center">
                <p>This content is hosted on {{ thirdParty.host }}.</p>
                <p>By showing this third party content you accept {{thirdParty.name}}'s 
                    <a class="privacy-policy" href="{{thirdParty.privacyPolicy}}" target="_blank">{{thirdParty.privacyPolicyName}}</a>.
                </p>
                <form>
                    <a href="javascript:thirdPartyConsent('{{thirdPartyContent.id}}', '{{thirdPartyContent.source}}')" class="btn btn-primary" role="button">Show third party content</a>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input third-party-content-remember">
                        <label class="form-check-label" for="exampleCheck1">Remember my choice</label>
                        <p>(can be changed in <a class="privacy-policy" href="/privacy">privacy settings</a>)</p>
                      </div>
                </form>
            </div>
        </div>
    </div>
    <div class="iframe-container third-party-content-iframe third-party-content-iframe-disabled">
        <iframe class="iframe-responsive" data-src="{{ thirdParty.embeddedUrl | replace: 'CONTENT_ID', thirdPartyContent.id }}" frameborder="0" allowfullscreen>
        </iframe>
    </div>
</div>