{% if page.paginator %}
  {% assign paginator = page.paginator %}
{% endif %}

{% if page.paginate_style %}
  {% assign paginate_style = page.paginate_style %}
{% elsif site.paginate_style %}
  {% assign paginate_style = site.paginate_style %}
{% else %}
  {% assign paginate_style = "infinite" %}
{% endif %}

{% assign prepend_pagination_url = site.baseurl | prepend: site.github.url %}
{% if page.title %}
  {% assign prepend_pagination_url = page.title | prepend:'/categories/' | prepend:prepend_pagination_url %}
{% endif %}

{% if paginate_style == "numbers" %}
  <nav  id="pagination" aria-label="Pagination Navigation">
    <ul class="pagination">
      {% if paginator.previous_page %}
      <li>
        <a href="{{ paginator.previous_page_path | prepend: prepend_pagination_url }}/" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% else %}
      <li class="disabled">
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}
      {% for index in (1..paginator.total_pages) %}
        {% if index == paginator.page %}
          {% if index == 1 %}
            <li class="active"><a href="{{ site.baseurl | prepend: site.github.url }}/">{{ index }}</a></li>
          {% else %}
            <li class="active"><a href="{{ index | prepend: '/page' | prepend: prepend_pagination_url }}/">{{ index }}</a></li>
          {% endif %}
        {% else %}
          {% if index == 1 %}
            <li><a href="{{ site.baseurl | prepend: site.github.url }}/">{{ index }}</a></li>
          {% else %}
            <li><a href="{{ index | prepend: '/page' | prepend: prepend_pagination_url }}/">{{ index }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
      {% if paginator.next_page %}
      <li>
        <a href="{{ paginator.next_page_path | prepend: prepend_pagination_url }}/" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% else %}
      <li class="disabled">
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
{% else %}
  <nav id="pagination" aria-label="Page navigation">
    <ul class="pager">
      {% if paginator.previous_page %}
      <li class="previous"><a href="{{ paginator.previous_page_path | prepend: prepend_pagination_url }}/"><span aria-hidden="true">&larr;</span> Newer</a></li>
      {% endif %}
      {% if paginator.next_page %}
      <li id="next" class="next"><a href="{{ paginator.next_page_path | prepend: prepend_pagination_url }}/">Older <span aria-hidden="true">&rarr;</span></a></li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
</div>