---
layout: default
with_banner: true
---

{% if page.paginator %}
  {% assign paginator = page.paginator %}
{% endif %}

{% assign category = paginator.posts[0].category %}

{% capture overlay %}
<p class="card-text text-justify">Hi! I'm Arnaud Lauret, the API Handyman and author of The Design of Web APIs. You'll find here all my {{site.data.categories[category].name | downcase}}.</p>
<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#bookModal" role="button" >You can also read my book</a>
{% endcapture %}
{%include full-width-banner.html overlay=overlay css=category %}
<div class="row below-main-navbar posts">
  <div class="container">
    <div class="row row-cols-1 row-cols-lg-2">
        {% for post in paginator.posts %}
          <div class="col mb-4">
          {% include post-summary.html  date=true %}
          </div>
        {% endfor %}
    </div>
  </div>
</div>
