---
libs:
  google-analytics: true
  bootstrap: true
  main: true
  code: true
  clipboard: true
  search-bar: true
---
<!DOCTYPE html>
{% include page_variables.html %}
{% assign included_libs="" %}
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html included_libs=included_libs %}
  <body  data-spy="scroll" data-target="#toc">
    {% include navbar.html %}
    <div class="page-content-container">
      {{ content }}
      {% include foot.html %}
      {% include privacy-message.html %}
    </div>
    {% include libs.html type="js" %}
  </body>
</html>