---
layout: default
with_banner: true
book_in_nav: true
---

{% capture overlay %}
<p class="card-text text-justify">Hi! I'm Arnaud Lauret, the API Handyman and author of The Design of Web APIs. I like to share what I do, struggle with, learn, and teach while working in the API space.</p>
<a href="/about" class="btn btn-primary btn-sm">How can I help you?</a>
{% endcapture %}
{%include full-width-banner.html overlay=overlay css="default" %}
<div class="row home-book-cover-center"></div>
<div class="row home-book">
  <div class="container p-0">
    <div class="col-12 p-0">
      <div class="card m-0 p-0 border-0 rounded-0">
        <div class="row no-gutters">
          <div class="col-md-4 home-book-cover-left"></div>
          <div class="col-md-8 d-flex flex-column">
            <div class="card-body card-body-quotes">
              <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <blockquote class="blockquote">
                      <p class="mb-0">Assembles the fundamental building blocks of API design in an easy-to-access way, and walks you through the vast landscape in a friendly and comfortable manner.</p>
                      <footer class="blockquote-footer">From the Foreword by Kin Lane, The API Evangelist</footer>
                    </blockquote>
                  </div>
                  <div class="carousel-item">
                    <blockquote class="blockquote">
                      <p class="mb-0">If you’re serious about learning or mastering web API design, Arnaud Lauret’s The Design of Web APIs should join your programming library.</p>
                      <footer class="blockquote-footer">From The Design of Web APIs review, Nordic APIs</footer>
                    </blockquote>
                  </div>
                </div>
              </div> 
            </div> 
            <div class="card-body card-body-action">
              <a href="#" class="btn btn-primary stretched-link" data-toggle="modal" data-target="#bookModal" role="button" >Get 37% off my book!<span class="d-none d-md-block"> (or any other Manning product!)</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include home-section-title.html category="posts" %}
{% include home-last.html 
  category='post'
  more_link='/blog'
  more_button='More posts'
  %}
  {% include home-section-title.html category="talks" %}
{% include home-last.html 
  category='talk'
  more_link='/talks'
  more_button='More talks and podcasts'
  %}
{% include home-section-title.html category="toolbox" %}
<div class="row home-section">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2">
          {% assign items = site.tools | where_exp:"item", "item.tool_top_2>0" %}
          {% for item in items %}
            <div class="col mb-4">
              {% include tool-summary.html tool=item %}
            </div>
          {% endfor %}
    </div>
    <div class="row row-cols-1 row-cols-md-3">
      {% assign items = site.tools | where_exp:"item", "item.tool_top_3>0" %}
      {% for item in items %}
        <div class="col mb-4 d-none d-lg-block">
          {% include tool-summary.html tool=item hide_banner=false %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% include home-more-button.html more_link="/toolbox" more_button="More tools" %}