---
layout: default-banner-left-column
libs:
  anchor: true
  code: true
  bash: true
  toc: true
---
{% include page_variables.html %}

{% assign title = page.title %}

{% if page.series %}
{% capture surtitle %}
{{page_series_title}}
{% endcapture %}
{% else %}
{% assign surtitle="" %}
{% endif %}

{% if page.author %}
{% assign subtitle = page.author | prepend: 'By '%}
{% endif %}
{% if page.date %}
{% if page.author %}
  {% assign subtitle = subtitle | append: ", " %}
{% endif %}
{% assign subtitle = page.date | date: "%B %-d, %Y" | prepend: subtitle %}
{% endif %}

{% include content-cards.html surtitle=surtitle title=title subtitle=subtitle css=page.content_css %}