---
layout: default
with_banner: true
book_in_nav: true
libs:
  infinitescroll: true
---
{% capture overlay %}
<p class="card-text text-justify">Hi! I'm Arnaud Lauret, the API Handyman and author of The Design of Web APIs. {{site.data.categories[page.category].description}}.</p>
<a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#bookModal" role="button" >You can also read my book</a>
{% endcapture %}
{%include full-width-banner.html overlay=overlay css=page.category %}
<div class="row row-list">
  <div id="list" class="container">
    <div class="row row-cols-1 row-cols-lg-2 paginated-elements">
        {% for post in paginator.posts %}
          <div class="col mb-4 paginated-element">
          {% include post-summary.html  date=true %}
          </div>
        {% endfor %}
    </div>
  </div>
</div>
{% include pagination.html %}
