---
layout: default
javascript: javascript-post.html
---
<div class="col-xs-12 col-sm-9 col-md-8 col-md-offset-2" role="main">
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <div id="post" class="blog-container" itemprop="articleBody">
      <p class="post-meta">
        {% if page.author %}
          By
          <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>&nbsp;&nbsp;|&nbsp;
        {% endif %}
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b. %-d, %Y" }}</time><span>&nbsp;|&nbsp;{{ page.category | capitalize }}</span>
      </p>
      {{ content }}
      {% include disqus_comments.html %}
    </div>
  </article>
</div>
<div class="hidden-xs col-sm-3 col-md-2" role="complementary">
  <nav id="toc" data-spy="affix" data-offset-top="400"></nav>
</div>