---
layout: default
javascript: javascript-paginated.html
---
{% if page.paginator %}
  {% assign paginator = page.paginator %}
{% endif %}

<div class="row me">
  <div class="container-fluid">
    <div class="col-12">
      <div class="container p-0">
        <div class="col-12 p-0">
          <div class="card rounded-0 border-0 p-0 m-0 text-right">
            <img src="/images/commons/top.jpg" class="banner card-img-top rounded-0" alt="...">
            <div class="card-img-overlay">
              <div class="card-img-overlay-text">
              <p class="card-text text-justify">Hi! I'm Arnaud Lauret, the API Handyman and author of The Design of Web APIs. I share on this blog what I do, struggle with, learn, and teach while working in the API space. I'm open to API related consultancy requests.</p>
              <a href="/about" class="btn btn-primary btn-sm">How can I help you?</a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row below-main-navbar">
  <div class="container">
    <div class="row">
      <div class="col-12"> 
        {% for post in paginator.posts %}
        <div class="row mb-3 posts">
          {% include post-summary.html %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- include pagination.html -->