---
libs:
  google-analytics: true
  reveal: true
---
<!DOCTYPE html>
{% include page_variables.html %}
{% assign included_libs="" %}
{% assign path_to_find = page.deck | prepend:"slidedecks/" | append:"/slides" %}
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html included_libs=included_libs %}
  <body>
    <div class="reveal">
        <div class="slides">
            {% for image in site.static_files %}
                {% if image.path contains path_to_find %}
                    <section>
                        {% if image.path contains ".mp4" %}
                        <video loop>
                            <source src="{{ image.path }}" type="video/mp4">
                          </video>
                        {% else %}
                            <img data-src="{{ image.path }}">
                        {% endif %}
                    </section>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% include libs.html type="js" %}
  </body>
</html>