---
layout: default-banner-left-column
hide_toc: true
---
{% include tool-variables.html item=page %}

{% assign title = item_title%}
{% assign surtitle = item_formated_author %}

{% capture links %}
{% if page.links %}
  {% for link in page.links %}
    {% if link.type == 'main' %}
      {% assign link_icon = 'webpage' %}
    {% else %}
      {%assign link_icon = link.type %}
    {% endif %}

    {% if link.type == 'twitter' %}
      {% assign link_url = link.url | prepend:'https://twitter.com/' %}
    {% else %}
      {% assign link_url = link.url %}
    {% endif %}

    {% if link.name %}
      {% assign link_text = link.name %}
    {% elsif link.type == 'twitter' %}
      {% if link.subtype == nil or link.subtype == 'author' %}
        {% assign link_text = page.author | append: ' on Twitter' %}
      {% elsif link.subtype == 'tool' %}
        {% assign link_text = page.title | append: ' on Twitter' %}
      {% else %}
        {% assign link_text = 'Twitter' %}
      {% endif %}
    {% elsif link.type == 'github' %}
      {% assign link_text = page.title | append: " Github Repository" %}
    {% elsif link.subtype == 'newsletter' %}
      {% assign link_text = page.title | prepend:'Subscribe to ' %}
    {% elsif link.subtype == 'blog' %}
      {% assign link_text = page.title | append:' Blog' %}
    {% elsif link.subtype == 'website' or link.subtype == nil %}
      {% assign link_text = page.title | append:' Website' %}
    {% endif %}

    <p class="tool-link"><a href="{{link_url}}" target="_blank">{% include icon-inline.html name=link_icon text=link_text%}</a>
    </p>
  {% endfor %}
{% endif %}
{% endcapture %}

{% capture related_links %}
  {% if page.related_links %}
    <div class="card-page-section page-section-not-title tool-related-links">
      <div class="card-body">
        <h1> Related Posts</h1>
        {% for link in page.related_links %}
          {% if link.url == nil %}
            {% for post in site.posts reversed %}
              {% if link.type == "series" and post.series == link.name %}
                {% include post-summary.html css="tool-link-summary" no_banner=true %}
              {% elsif link.type == "post" and post.title == link.name %}
                {% include post-summary.html css="tool-link-summary" no_banner=true %}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif %}

{% endcapture %}

{% include content-cards.html surtitle=surtitle title=title css='tool' cards=related_links title_section_bottom=links%}