---
layout: default
with_banner: true
---
{% capture overlay %}
<p class="card-text text-justify">Hi! I'm Arnaud Lauret, the API Handyman and author of The Design of Web APIs. {{site.data.categories[page.category].description}}.</p>
<a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#bookModal" role="button" >You can also read my book</a>
{% endcapture %}
{%include full-width-banner.html overlay=overlay css=page.category %}
<div class="row row-list">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2">
        {% for tool in site.tools %}
          <div class="col mb-4">
            {% include tool-summary.html tool=tool %}
          </div>
        {% endfor %}
    </div>
  </div>
</div>
